
body{
  /* display: flex;
  justify-content: center; */
  background-color: #FFEAF7;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding:0;
  /* border: 1px dotted black; */
}


/* nav bar  */

/* .container {
  width:1024px;
  height: auto;
} */

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  background-color: #F62DAE;
  padding: none;
  margin: none;
}
#homeIcon {
  display:flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:1%;
  padding-bottom:1%;
}
.navBar p {
  padding-left: 5%;
  padding-right: 5%;
  padding-top:1%;
  padding-bottom:1%;
  display: flex;
  align-items: flex-end;
}

/* NAVBAR END */

/* HEADER START */

.header {
  margin-left: 3%;
  padding-right: none;
  margin-right: none;
  display: flex;
  flex-direction: row;
  margin-bottom:3%;
}
.headerText {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 3%;
  min-width:600px;
}
.headerText h1 {
  font-size: 5em;
  color: #F6C28B;
}
.headerText h3 {
  font-size: 1em;
  width: 220px;
  height: auto;
  padding:1%;
  margin-left: 2%;
  margin-top:2%;
  margin-bottom:2%;
  border-radius: 5px;
  background-color: #d8d8d8;
}
.headerText button {
  width:33%;
  margin: auto;
  font-size: 2rem;
  margin-top: 4%;
  background-color: #F6C28B;
  border-radius: 50px;
  padding:1%;
}

#shapesHeader {
  width:100%;
  max-height: 400px;
  max-width: 600px;
}
/*HEADER DONE*/

hr {
  width: 100%;
  height:1%;
}


.runner {
  display: flex;
  justify-content: center;
  width:100vw;
}
.runner img {
  width:100vw;
  height: 20%;
}


.bodyContent {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 6%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  padding:5%;
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 4rem;
  color: grey;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: silver;
}

.background p {
  color:white;
  padding:3%;
  font-size: 2rem;
}
.background button {
  background-color: #75dbcd;
  color: #f62dae;
  font-size: 3rem;
}
.bodyContent img {
  width:30%;
  max-height: 70%;
}

@media screen and (max-width: 1260px) {
  #shapesHeader {

  }
}

@media screen and (max-width: 770px){
  .header{
    margin:auto;
    text-align: center;
  }
  .container{
    width:770px;
  }
  #shapesHeader {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .headerText h3 {
    margin: auto;
    justify-content: center;
  }
  .bodyContent button {
    font-size: 1.5em;
  }
  .background p {
    color:white;
    padding:3%;
    font-size: 1rem;
  }
  .column h2 {
    font-size: 2rem;
    color: grey;
    margin:auto;
  }
  .row {
    flex-direction: column;
  }
  .bodyContent img {
    display: none;
  }
  #space {
    width:100%;
    height: 20%;
  }
}

@media screen and (max-width: 550px) {
  .container{
    width:425px;
  }
  .header{
    margin: auto;
  }
  .headerText h1 {
    margin:auto;
    text-align: center;
    font-size: 2em;
    width: 425px;
  }
  .headerText h3 {
    font-size: 1em;
  }
  #space {
    width:100%;
    height: 20%;
  }

}
